TURSO_DB_URL=
TURSO_AUTH_TOKEN=
AUTH_SECRET=
RESEND_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
APP_URL=http://localhost:3000
PUBLIC_APP_URL=http://localhost:3000
PUBLIC_ENABLE_WEB_ANALYTICS=false
PUBLIC_HIDE_HOME=false
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=
DEMO_MAX_WORKSPACES_PER_USER=
DEMO_MAX_PROJECTS_PER_WORKSPACE=
DEMO_MAX_COLLECTIONS_PER_PROJECT=
DEMO_MAX_ITEMS_PER_COLLECTION=
